.login__question {
    align-self: center;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    letter-spacing: 1px;
    margin-top: 15px;
}