.login__question {
    align-self: center;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 20px;
}

@media screen and (min-width: 1024px) {
    .login__question {
        margin-top: 15px;
    }
  }
  