.login__input {
    width: 255px;
    border: 0;
    outline: none;
    background-color: black;
    border-bottom: 2px solid #CCCCCC;
    margin-bottom: 30px;
    color: white;
}

.login__input:last-of-type {
    margin-bottom: 0;
}


@media screen and (min-width: 1024px) {
    .login__input {
        width: 353px;
        height: 27px;
        font-size: 14px;
        line-height: 17px;
    }
  }
  