.popup__submit-button_style {
  margin-top: 20px;
  margin-bottom: 25px;
  padding-left: 89px;
  padding-right: 95px;
}


@media screen and (min-width: 800px) {
  .popup__submit-button_style {
  padding: 14px 143px 18px 143px;
  margin-top: 26px;
  margin-bottom: 35px;
  max-width: 358px;
  max-height: 50px;
  }
}

