.popup__title_type_question {
    margin-bottom: -2px;
    margin-left: -55px;
    margin-right: 51px;
}

@media screen and (min-width: 800px) {
    .popup__title_type_question {
        margin-left: -128px;
    }
}