.card {
  display: flex;
  justify-content: center;
  margin: 2px 19px 20px 19px;
  min-width: 282px;
  min-height: 361px;
}

@media screen and (min-width: 900px) {
  .card {
    margin: 2px 19px 20px 19px;
  }
}